* {
    box-sizing: border-box;
}
.collapse {
    justify-content: flex-end;
}

.navbar h3 {
    color:#ffffff;
    padding: 30px 10px;
    margin-left: 85px;
    background-color:teal ;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
}
.navbar {
    height: 90px;
    border: 2px solid #cccccc;
}
a {
    color: gray ;
    font-size:20px;
}
main {
    overflow: auto;
    background-color: rgb(178, 199, 201);
    height: 700px;
}
.box {
    margin-left: 100px;
    padding-top: 20px;
    border: 1px solid #a09797;
    height:400px;
    width: 600px;
    padding-left:20px;
    padding-right: 20px;
    margin-top: 40px;
    background-color: white;
}
.box h3 { 
    padding-bottom:20px;
    border-bottom: 2px solid #cccccc;
    color: teal
}
.box img {
    padding-right: 20px;
    padding-top: 10px;
    width: 200px;
    height: 150px;
}
footer {
    background-color: #666666;
    height: 100px;
    border-top: 10px solid teal;
}
.middle {
    padding-top: 30px;
    color: white;
}



